Package: com.estoque.rev3al
Name: Rev3al Lockscreen
Version: 1.0
Architecture: iphoneos-arm
Author: Estoque <incusx@naver.com>
Depends: com.groovycarrot.groovylock, mobilesubstrate
Depiction: http://est0que.tistory.com/1431
Description: Nice and neat blur effect for iOS Lockscreen
Homepage: http://est0que.tistory.com/
Maintainer: Estoque <incusx@naver.com>
Section: Themes (Addons)
Sponsor: Estoque <http://est0que.tistory.com/>
